html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;
  position: relative;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  position: absolute;
  left: 137px;
  top: 137px;
}

.hand {
  width: 14px;
  position: absolute;
}

.hand-hour {
  position: relative;
  left: 143px;
  top: 60px;
  animation: orbit 6s linear infinite;
  transform-origin: center 60px;
}

.hand-minute {
  position: relative;
  left: 125px;
  top: 60px;
  animation: minute 3s linear infinite;
  transform-origin: center 86px;
}

@keyframes orbit {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes minute {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
